.card {
  padding: 24px;
  &.primary {
    border: 1px solid #cac4d0;
    background: #fef7ff;
    border-radius: 12px;
  }
  &.secundary {
      background: #F5F5F5;
      border-radius: 16px;
      color: black;
  }
}
