
header{
   margin-bottom: 1px;
  .app-header{
    margin: 3;
 
  }
  mat-toolbar{
   background-color: black;
   color: white;
   padding: 0 214px;
   height: 60px;
   .spacer{
    flex: 1 1 auto;
   }

  .logo{
  width: 123px;
  height: 60px;
}


   .login{
      border-color: white;
   }

   button{
      margin: 0 16px;
   }
}


}