<section class="modal">
    <h1 mat-dialog-title>Viajante</h1>

    <div class="selecao-idade">
        <app-seleciona-passageiros 
        [formControl]="formBuscaService.obterControle('adultos')" 
        titulo="Adultos"
        subTitulo="(Acima de 12 anos)"/>
        
        <app-seleciona-passageiros [formControl]="formBuscaService.obterControle('criancas')" titulo="Crianças"
            subTitulo="(Entre 2 e 11 anos)">
        </app-seleciona-passageiros>
        <app-seleciona-passageiros [formControl]="formBuscaService.obterControle('bebes')" titulo="Bebês"
            subTitulo="(Até 02 anos)">
        </app-seleciona-passageiros>

    </div>
    <div class="categoria">
        <h4>Categoria</h4>
        <mat-chip-listbox aria-label="seleção de categoria">
            <mat-chip-option value="Econômica"
                [selected]="formBuscaService.formBusca.get('tipo')?.value === 'Econômica'"
                (selectionChange)="formBuscaService.alteraTipo($event, 'Econômica')">
                Econômica

            </mat-chip-option>
            <mat-chip-option value="Executiva"
                [selected]="formBuscaService.formBusca.get('tipo')?.value === 'Executiva'"
                (selectionChange)="formBuscaService.alteraTipo($event, 'Executiva')">

                Executiva
            </mat-chip-option>
        </mat-chip-listbox>


    </div>
    <div class="modal-actions">
        <button mat-flat-button class="cancelar">Cancelar</button>

    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
    </div>
</section>