<app-banner src="../../../assets/Banner homepage.png" alt="banner"></app-banner>
<app-container>
    <app-formulario-busca (realizarBusca)="navagarParaBusca($event)" ></app-formulario-busca>
    
    <h2>Promoções</h2>
    <div class="card">
   <app-promocao-component></app-promocao-component>
    </div>
    <h2>Depoimentos</h2>
    <div class="card-depoimento">
    <app-depoimento></app-depoimento>
    </div>
</app-container>
<app-banner src="../../../assets/bannerFooter.png" alt="banner"></app-banner>
