<app-banner src="../../../assets/Banner homepage.png" alt="banner"></app-banner>
<app-container>
    <h2>Promoções</h2>
    <app-formulario-busca></app-formulario-busca>
    <div class="card">
        <app-card-busca></app-card-busca>
       
    </div>
    <h2>Depoimentos</h2>
    <div class="card-depoimento">
        <app-card-depoimentos></app-card-depoimentos>
        <app-card-depoimentos></app-card-depoimentos>
        <app-card-depoimentos></app-card-depoimentos>
        <app-card-depoimentos></app-card-depoimentos>
        <app-card-depoimentos></app-card-depoimentos>
    </div>
</app-container>
<app-banner src="../../../assets/bannerFooter.png" alt="banner"></app-banner>

<app-footer></app-footer>