<footer class="app-footer">
    <app-container>
        <div class="inner">
            <ul>
                <li>
                    <img src="../../../assets/Logo-branco 2.png" alt=" logo footer">
                </li>
                <li>
                    Horário de atendimento: 08h - 20h (Segunda a Sábado)
                </li>
                <li>
                    Desenvolvido Robervan Souza
                </li>
            </ul>
            <ul class="socials">
                <li>Acesse nossas redes:</li>
                <li>
                    <button mat-icon-button>
                        <img src="../../../assets/Whatsapp 1.png" alt="Ícone do whatsapp">
                    </button>
                    <button mat-icon-button>
                        <img src="../../../assets/Instragam 1.png" alt="Ícone do instagram">
                    </button>
                    <button mat-icon-button>
                        <img src="../../../assets/Twiter 1.png" alt="Ícone do twitter">
                    </button>
                </li>
            </ul>
        </div>
    </app-container>
</footer>